<li v-if="session === null || !session.authenticated ()">
<a href="/api/session/login">{{ $t('c.login.login') }}</a></li>
<!--TODO: it's a bit cumbersome that main-nav is bleeding into this context as it obfuscates component boundaries -> refactor -->
<li class="app-mainNav_item" v-else>
	<dropdown class="app-usermenu">
		<template v-slot:button><span class="app-usermenu_initials">{{ initials }} <i class="fas fa-caret-down"></i></span></template>
		<template v-slot:default>
			<ul>
				<li><router-link :to="{name: 'account'}">{{ $t('c.login.account') }}</router-link></li>
				<li><router-link :to="{name: 'logout'}">{{ $t('c.login.logout') }}</router-link></li>
			</ul>
		</template>
	</dropdown>
</li>
