.wp-packages {
    overflow-y: scroll;
    flex-grow: 3;
    flex-shrink: 1;
}

.wp-package p {
    margin: 0;
}

.wp-package_version {
    opacity: 0.7;
    font-size: 0.8em;
}

.wp-package {
    display: flex;
    padding: 1em;
}

.wp-package_state {
    margin: 0;
}

.wp-package_left {
    text-align: left;
    flex-grow: 1;
}
.wp-package_right {
    text-align: right;
    flex-grow: 3;
}

.wp-package:nth-child(2n-1) {
    background-color: transparent;
}

.wp-package:nth-child(2n) {
    background-color: var(--gray-light);
}

.wp-packageSearch {
    display: flex;
    align-items: stretch;
}

.wp-packageSearch > * {
    margin-right: 0.5em;
    flex-grow: 1;
}

.wp-packageSearch > *:last-child {
    margin-right: 0;
}