<modal :title="$t('v.workspacePackages.title')" icon="box" :closeName="$t('v.workspacePackages.close')" :closeLink="{name: 'workspace', params: {wsid: workspace.metadata._id}}" :scaling="false">
		<p v-html="$t('v.workspacePackages.description')"></p>
		<div class="packageSearch">
			<input type="search" :placeholder="$t('v.workspacePackages.searchPackage')" :disabled="busy" v-model="search">
		</div>
		<p v-if="searchFailed">{{ $t('v.workspacePackages.searchFailed') }}</p>
		<p v-else-if="searching === true"><spinner></spinner></p>
		<div class="packages" v-else-if="filteredPackages.length > 0">
			<div v-for="ps of filteredPackages" class="package">
				<div class="left">
				<p><strong class="name">{{ ps.p.name }}</strong> <small class="version">{{ ps.p.version }}</small></p>
				<p class="state">
					<span v-if="ps.state.add">{{ $t('v.workspacePackages.packageStateAdd') }}</span>
					<span v-else-if="ps.state.remove">{{ $t('v.workspacePackages.packageStateRemove') }}</span>
					<span v-else-if="ps.state.installed">{{ $t('v.workspacePackages.packageStateInstalled') }}</span>
					<action-button v-if="ps.state.add || ps.state.remove" icon="undo" :disabled="busy" :f="_ => undoPackageAction(ps)">{{ $t('v.workspacePackages.undo') }}</action-button>
				</p>
				<p v-if="ps.p.synopsis">{{ ps.p.synopsis }}</p>
				</div>
				<div class="right">
				<action-button v-if="!ps.state.installed && !ps.state.add" icon="plus" :disabled="busy" :f="_ => addPackage(ps)">{{ $t('v.workspacePackages.addPackage') }}</action-button>
				<!-- Package removal is disabled by request. -->
				<action-button v-if="ps.state.installed && !ps.state.remove" icon="trash" :disabled="busy" :f="_ => removePackage(ps)">{{ $t('v.workspacePackages.removePackage') }}</action-button>
				</div>
			</div>
		</div>
		<p v-else>{{ $t('v.workspacePackages.nopackages') }}</p>
	<template v-slot:buttons>
		<action-button icon="check" :f="doPackageModify" :disabled="!haveModifications" :importance="haveModifications ? 'high' : 'low'">{{ $tc('v.workspacePackages.apply', packageTransforms.length) }}</action-button>
		<action-button icon="sync" :f="doPackageUpgrade" :disabled="busy" importance="medium">{{ $t('v.workspacePackages.upgrade') }}</action-button>
	</template>
</modal>
