<modal icon="users" :title="$t('v.workspaceImport.headline')" :closeName="$t('v.workspaceImport.close')" :closeLink="{name: 'workspaces'}" :scaling="true">
	<p>{{ $t('v.workspaceImport.description') }}</p>
	<p>
		<label for="importFiles" class="btn high" :disabled="busy">{{ $t('v.workspaceImport.fromfile') }}</label>
		<input type="file" id="importFiles" @change="validate" :disabled="busy" style="display: none">
		{{ selectedFile?.name }}
	</p>
	<template v-slot:buttons>
		<action-button icon="file-import" :f="run" importance="high" :disabled="selectedFile===null" class="submit">{{ $t('v.workspaceImport.submit') }}</action-button>
	</template>
</modal>
