<modal :title="$t('v.tosPrompt.welcome')" icon="file-alt" :closeName="$t('v.tosPrompt.close')" :closeLink="{name: 'index'}" :scaling="true" class="tosprompt">
	<p>{{ $t('v.tosPrompt.acceptToContinue') }}</p>
	<ul class="accept">
		<li v-for="term of termsForCurrentLanguage">
			<input type="checkbox" :id="`accept-${term.id}`" v-model="checkedTerms" :value="term.id">&nbsp;
			<label :for="`accept-${term.id}`" v-html="acceptText (term.kind)"></label>
		</li>
	</ul>
	<template v-slot:buttons>
		<action-button :f="cont" importance="high" :disabled="!accepted" icon="check">{{ $t('v.tosPrompt.accept') }}</action-button>
	</template>
</modal>
