/*NOTE: --- Evtl. workspaces runterbrechen auf single-classes ---*/
.wl-generalActions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wl-table_actions .dropdown .body {
    right: -1rem;
}
.wl-actionsList {
    display: flex;
    justify-content: center;
    /* Line-height for ul is overridden above, so reset to pure’s default */
    line-height: 1.15;
}

.wl-actionItem ul {
    margin: 0;
}

.wl-table {
    width: 100%;
    margin: 1em 0;
}

.wl-table tr td {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 0;
}

td.wl-table_title {
    text-align: left;
    font-weight: 500;
}

.wl-table_description {
    text-align: left;
}

.wl-table_applications {
    text-align: center;
}

.wl-table_applications ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.wl-table_applications li {
    display: inline;
    margin: 0 0.3em;
}

.wl-table .wl-table_actions {
    text-align: center;
    overflow: visible;
}

.wl-actionsList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.wl-table_actions li {
    display: inline;
    margin: 0;
}

.wl-table_titleColumn {
    width: 23%;
}

.wl-table_descriptionColumn {
    max-width: 46%;
}

.wl-table_publishedByColumn {
    width: 17%;
}

.wl-table_applicationsColumn {
    width: 17%;
}

.wl-table_actionsColumn {
    width: 17%;
}

.wl-filters {
    border-bottom: 0.1em solid var(--gray-base);
    padding: 0 0.5em;
}

.wl-filter {
    display: inline-block;
    position: relative;
    bottom: -0.1em;
}

.wl-filter_radio {
    display: none;
}

.wl-filter_label {
    padding: 0.5em;
    background-color: var(--gray-light);
    cursor: pointer;
    border: 0.1em solid var(--gray-base);
    margin-right: 0.3em;
    display: inline-block;
}

.wl-filter_radio:checked ~ .wl-filter_label {
    background-color: white;
    border-bottom: 0.1em solid white;
}
