<div class="wl-container">
	<h2>{{ $t('v.workspaceList.projects') }}</h2>

	<action-bar v-if="!disabled">
		<template #left>
			<p>{{ $t('v.workspaceList.description') }}</p>
		</template>
		<template #right>
			<div class="wl-generalActions">
				<router-link class="btn low" :to="{name: 'workspaceImport'}"><i class="fas fa-file-import"></i> {{ $t('v.workspaceList.import') }}</router-link>
				<action-button icon="plus-square" :f="createWorkspace" importance="high">{{ $t('v.workspaceList.create') }}</action-button>
			</div>
		</template>
	</action-bar>
	<form class="wl-filters">
	<!--<input type="search" id="filtersearch" v-model="filtertext">-->
	<div class="wl-filter">
		<input type="radio" name="filter" value="mine" id="filtermine" v-model="filter" class="wl-filter_radio">
		<label for="filtermine" class="wl-filter_label">{{ $t('v.workspaceList.myprojects') }}</label>
	</div>
	<div class="wl-filter">
		<input type="radio" name="filter" value="shared" id="filtershared" v-model="filter" class="wl-filter_radio">
		<label for="filtershared" class="wl-filter_label">{{ $t('v.workspaceList.sharedprojects') }}</label>
	</div>
	<div class="wl-filter">
		<input type="radio" name="filter" value="world" id="filterworld" v-model="filter" class="wl-filter_radio">
		<label for="filterworld" class="wl-filter_label">{{ $t('v.workspaceList.publicprojects') }}</label>
	</div>
	</form>
	<table class="wl-table workspaces pure-table pure-table-striped pure-table-horizontal" v-if="filteredWorkspaces.length > 0">
		<col class="wl-table_titleColumn">
		<col class="wl-table_descriptionColumn">
		<col class="wl-table_publishedByColumn" v-if="filter==='world' || filter==='shared'">
		<col class="wl-table_applicationsColumn">
		<col class="wl-table_actionsColumn">
	<thead>
		<tr>
			<th class="wl-table_title">{{ $t('v.workspaceList.thtitle') }}</th>
			<th class="wl-table_description">{{ $t('v.workspaceList.thdescription') }}</th>
			<th class="wl-table_publishedBy" v-if="filter==='world' || filter==='shared'">{{ $t('v.workspaceList.thcreatedBy') }}</th>
			<th class="wl-table_applications">{{ $t('v.workspaceList.thapplications') }}</th>
			<th class="wl-table_actions">{{ $t('v.workspaceList.thactions') }}</th>
		</tr>
	</thead>
	<tbody>
	<tr v-for="w in filteredWorkspaces" :key="w.metadata._id">
		<td class="wl-table_title">
			<router-link :to="{name: 'workspace', params: {wsid: w.metadata._id}}">
				<span v-if="w.metadata.name">{{ w.metadata.name }}</span>
				<span v-else class="placeholder">{{ $t('v.workspaceList.unnamed') }}</span>
			</router-link>
		</td>
		<td class="wl-table_description">
			<router-link :to="{name: 'workspace', params: {wsid: w.metadata._id}}">
				<span v-if="w.metadata.description">{{ w.metadata.description }}</span>
				<span v-else>&nbsp;</span>
			</router-link>
		</td>
		<td class="wl-table_publishedBy" v-if="filter==='world' || filter==='shared'">
			<span>{{ w.owner().join(", ") }}</span>
		</td>
		<td class="wl-table_applications">
			<ul>
				<li v-for="a in w.runnableApplications (username)" :key="a._id">
					<router-link :to="{name: 'application', params: {wsid: w.metadata._id, appid: a._id}}">
						<application-icon :workspace="w" :application="a" height="1.5em"></application-icon>
					</router-link>
				</li>
			</ul>
		</td>
		<td class="wl-table_actions">
			<ul class="wl-actionsList">
				<li class="wl-actionItem" v-if="w.getPermissions (this.username)[0].canShare ()">
					<router-link class="wl-actionItem_button btn small" :to="{name: 'workspaceShare', params: {wsid: w.metadata._id}}" aria-label="share"><i class="fas fa-share"></i></router-link>
					<span class="wl-actionItem_tooltip">{{ $t('v.workspaceList.share') }}</span>
				</li>
				<li class="wl-actionItem" v-if="w.getPermissions (this.username)[0].canRead ()">
					<action-button class="wl-actionItem_button btn small" icon="copy" :f="() => copy(w)" aria-label="copy"></action-button>
					<span class="wl-actionItem_tooltip">{{ $t('v.workspaceList.copy') }}</span>
				</li>
				<li class="wl-actionItem" v-if="w.getPermissions (this.username)[0].canDelete ()">
					<router-link class="wl-actionItem_button btn small" :to="{name: 'workspaceDelete', params: {wsid: w.metadata._id}}" aria-label="delete"><i class="fas fa-trash"></i></router-link>
					<span class="wl-actionItem_tooltip">{{ $t('v.workspaceList.delete') }}</span>
				</li>
				<li><dropdown>
					<template v-slot:button>
						<i class="btn small fas fa-ellipsis-h"></i>
					</template>
					<template v-slot:default>
						<ul>
							<li v-if="w.getPermissions (this.username)[0].canShare ()"><router-link class="btn small" :to="{name: 'workspacePublish', params: {wsid: w.metadata._id}}">
								<i class="fas fa-globe"></i> {{ $t('v.workspaceList.publish') }}
							</router-link></li>
							<li v-if="w.getPermissions (this.username)[0].canRead ()"><router-link class="btn small" :to="{name: 'workspaceExport', params: {wsid: w.metadata._id}}">
								<i class="fas fa-file-export"></i> {{ $t('v.workspaceList.export') }}
							</router-link></li>
							<li v-if="w.getPermissions (this.username)[0].canRun ()"><router-link class="btn small" :to="{name: 'workspacePackages', params: {wsid: w.metadata._id}}">
								<i class="fas fa-box"></i> {{ $t('v.workspaceList.manage') }}
							</router-link></li>
						</ul>
					</template>
				</dropdown></li>
			</ul>
		</td>
	</tr>
	</tbody>
	</table>
</div>
