.wsh-kindSelector {
    margin-bottom: 0.3em;
}

.wsh-kindMeaning, .wsh-modeSelector, .wsh-recipientList {
    margin-bottom: 1em;
}

.wsh-modeSelector_item {
    display: flex;
    align-items: center;
}

.wsh-modeForm {
    display: flex;
    flex-direction: column;
}

.wsh-recipientList_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wsh-emailAdder {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.wsh-emailInstruct {
    margin-bottom: 0.5em;
}

.wsh-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
}

.wsh-input_label {
    margin-bottom: 0.2em;
}

.wsh-input textarea {
    resize: vertical;
}

.wsh-addAddressBtn {
    margin-bottom: 1.0em;
}


.wsh-mailPreview {
    word-break: break-all;
    white-space: pre-wrap;
}
