.sp-kind-selector {
    margin-bottom: 0.3em;
}

.sp-kind-meaning, .sp-mode-selector, .sp-recipient-list {
    margin-bottom: 1em;
}

.sp-mode-form {
    display: flex;
    flex-direction: column;
}

.sp-email-adder {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sp-email-instruct {
    margin-bottom: 0.5em;
}

.sp-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
}

.sp-input-label {
    margin-bottom: 0.2em;
}

.sp-add-address-btn {
    margin-bottom: 1.0em;
}