<modal icon="users" :title="$t('v.workspaceShare.sharetitle')" :closeName="$t('v.workspaceShare.close')" :closeLink="{name: 'workspace', params: {wsid: workspace.metadata._id}}" :scaling="true" class="share-project">
	<select v-model="selectedShareUrl" name="shareKind" size="0">
	<option selected="selected" :value="false" class="read">{{ $t('v.workspaceShare.read') }}</option>
	<option :value="true" class="write">{{ $t('v.workspaceShare.write') }}</option>
	</select>
	<p>{{ shareMeaning }}</p>
	<template v-if="shareUrl[selectedShareUrl]">
		<div class="pure-g sp-kind">
			<div class="pure-u-1-2">
				<input type="radio" name="mode" v-model="mode" value="link" id="shareModeLink">
				<label for="shareModeLink">Link teilen</label>
			</div>
			<div class="pure-u-1-2">
				<input type="radio" name="mode" v-model="mode" value="email" id="shareModeEmail">
				<label for="shareModeEmail">E-Mail senden</label>
			</div>
		</div>
		<template v-if="modeLink">
			<label for="shareUrl">{{ $t('v.workspaceShare.sharelink') }}</label>
			<input type="text" v-model="shareUrl[selectedShareUrl]" id="shareUrl" readonly="readonly">
		</template>
		<template v-if="modeEmail">
			<message v-if="emailQuotaReached" kind="warning">{{ $t('v.workspaceShare.quotareached') }}</message>
			<ul>
				<li v-for="a in emailAddresses">
					{{ a.name }}
					<small>{{ a.address }}</small>
					<action-button v-if="a.status==SendStatus.unknown" :f="_ => removeAddress(a)" icon="trash" importance="low"></action-button>
					<spinner v-else-if="a.status==SendStatus.inprogress"></spinner>
					<i v-else-if="a.status==SendStatus.success" class="fas fa-check"></i>
					<i v-else-if="a.status==SendStatus.failure" class="fas fa-exclamation"></i>
				</li>
			</ul>

			<div class="email-adder">
				<p>{{ $t('v.workspaceShare.emailInstruct') }}</p>
				<div class="ea-input">
					<label class="ea-label" for="shareEmail">E-Mail</label>
					<input :placeholder="$t('v.workspaceShare.emailPlaceholder')" type="text" id="shareEmail" v-model="emailAddressesInput">
				</div>
				<div class="ea-input">
					<label class="ea-label" for="shareName">{{ $t('v.workspaceShare.nameLabel') }}</label>
					<input placeholder="Name" type="text" id="shareName" v-model="emailName">
				</div>
				<button @click="addAddress" class="add-address-btn btn high">add</button>

				<div class="ea-input">
					<label class="ea-label" for="shareMessage">{{ $t('v.workspaceShare.messageLabel') }}</label>
					<textarea style="flex-shrink: 0" :placeholder="$t('v.workspaceShare.messagePlaceholder')" id="shareMessage" v-model="emailMessage" required></textarea>
				</div>
			</div>

			<template v-if="preview">
				<p>{{ $t('v.workspaceShare.preview') }}:</p>
				<pre class="mailpreview">{{ preview }}</pre>
			</template>
		</template>
	</template>
	<spinner v-else></spinner>
	<template v-slot:buttons>
		<action-button v-if="modeLink" :f="_ => copyToClipboard(shareUrl[selectedShareUrl])" :disabled="!shareUrl[selectedShareUrl]" icon="copy" importance="high">{{ $t('v.workspaceShare.copy') }}</action-button>
		<action-button v-if="modeEmail" :f="sendAllMails" :disabled="!canSend" icon="envelope" importance="high">{{ $t('v.workspaceShare.sendmail') }}</action-button>
	</template>
</modal>
