<modal class="wsp-prompt" icon="users" :title="title" :closeLink="{name: 'workspace', params: {wsid: workspace?.metadata._id}}" :scaling="true">
	<div class="wsp-prompt_info">
		<i class="fas fa-question-circle inline-icon"></i>
		<router-link class="info-link" :to="{name: 'faq'}">{{ $t('v.workspaceSecurityPrompt.explainLink') }}</router-link>
	</div>
	<div class="wsp-prompt_risks">
		<div class="wsp-prompt_warning">
			<i class="fas fa-exclamation-triangle inline-icon"></i>
			<span class="danger">{{ $t('v.workspaceSecurityPrompt.warning') }}</span>
		</div>
		<div class="more-information">{{ $t('v.workspaceSecurityPrompt.warningExplanation') }}</div>
	</div>
	<hr class="horizontal-ruler">
	<div class="wsp-prompt_options">
		<div class="wsp-prompt_checkboxes">
			<div v-if="isReadOnlyWorkspace">
				<input id="autocopy" type="checkbox" name="autocopy" v-model="autocopySharedReadOnly">
				<label for="autocopy" v-html="$t('v.workspaceSecurityPrompt.autoCopy')"></label>
			</div>
			<div v-if="isReadOnlyWorkspace">
				<input id="not-again" type="checkbox" name="not-again" v-model="dontShowSharedReadOnlyPopUp">
				<label for="not-again">{{ $t('v.workspaceSecurityPrompt.dontShowAgain') }}</label>
			</div>
			<div v-if="!isReadOnlyWorkspace">
				<input id="not-again" type="checkbox" name="not-again" v-model="dontShowSharedWriteAccessPopUp">
				<label for="not-again">{{ $t('v.workspaceSecurityPrompt.dontShowAgain') }}</label>
			</div>
		</div>
		<div>{{ $t('v.workspaceSecurityPrompt.changeSettingsNotice') }}</div>
	</div>
	<template v-slot:buttons>
		<action-button :f="saveSettings" importance="high">{{ $t('v.workspaceSecurityPrompt.saveSettings') }}</action-button>
	</template>
</modal>