<div>
	<h2>{{ $t('v.account.headline') }}</h2>
	<dl>
		<dt>{{ $t('v.account.name') }}</dt>
		<dd>{{ oauthInfo.given_name }} {{ oauthInfo.family_name }}</dd>

		<dt>{{ $t('v.account.email') }}</dt>
		<dd><a :href="mailto(oauthInfo.email)">{{ oauthInfo.email }}</a></dd>

		<dt>{{ $t('v.account.unixaccount') }}</dt>
		<dd v-if="state.user">{{ state.user.name }}</dd>
		<dd v-else>–</dd>
	</dl>
	<h3>{{ $t('v.account.settings') }}</h3>
	<div class="ac-settings_checkboxes">
		<div>
			<input id="autocopy" type="checkbox" name="autocopy" v-model="autocopySharedReadOnly">
			<label for="autocopy">{{ $t('v.account.autoCopyReadOnlyShared') }}</label>
		</div>
		<div>
			<input id="read-only-not-again" type="checkbox" name="read-only-not-again" v-model="dontShowSharedReadOnlyPopUp">
			<label for="read-only-not-again">{{ $t('v.account.dontShowReadOnlySharedPopUp') }}</label>
		</div>
		<div>
			<input id="write-access-not-again" type="checkbox" name="write-access-not-again" v-model="dontShowSharedWriteAccessPopUp">
			<label for="write-access-not-again">{{ $t('v.account.dontShowSharedWriteAccessPopUp') }}</label>
		</div>
	</div>
	<div v-if="canDelete">
		<h3>{{ $t('v.account.delete') }}</h3>
		<p>
			<router-link class="btn" :to="{name: 'accountDelete'}"><i class="fas fa-trash"></i> {{ $t('v.account.delete') }}</router-link>
		</p>
	</div>
</div>
