.message {
    color: white;
    padding: 1em;
    margin: 1em 0;
    display: flex;
    align-items: center;
}

.message a {
    color: white;
    text-decoration: underline;
}

.message.warning {
    background-color: var(--magenta-base);
}

.message.info {
    background-color: var(--green-base);
}

.message i.icn {
    font-size: 1.5em;
    margin-right: 0.5em;
}

.message pre {
    margin: 0;
    white-space: pre-wrap;
}

.message .close {
    cursor: pointer;
    text-align: right;
    flex-grow: 2;
}