.app-message {
    color: white;
    padding: 1em;
    margin: 1em 0;
    display: flex;
    align-items: center;
}

.app-message a {
    color: white;
    text-decoration: underline;
}

.app-message--warning {
    background-color: var(--magenta-base);
}

.app-message--info {
    background-color: var(--green-base);
}

.app-message i.icn {
    font-size: 1.5em;
    margin-right: 0.5em;
}

.app-message div.content {
    flex-grow: 1;
}

.app-message pre {
    margin: 0;
    white-space: pre-wrap;
}

.app-message p {
    margin: 0;
}

.app-message .close {
    cursor: pointer;
    text-align: right;
}

.app-message .btn {
    color: inherit;
    background-color: inherit;
    border-color: white;
}
