<modal :title="$t('v.workspaceExport.headline')" :closeName="$t('v.workspaceExport.back')" :closeLink="{name: 'workspace', params: {wsid: workspace?.metadata._id}}" :scaling="true" icon="file-export">
	<div v-if="workspace" class="we-exportModal">
		<p>{{ $t('v.workspaceExport.description', {project: workspace.metadata.name}) }}</p>
		<label for="kind" class="we-exportModal_typeLabel">{{ $t('v.workspaceExport.exportas') }}</label>
		<select v-model="kind" name="kind" id="kind" size="0">
		<option v-for="format in supportedFormats" :key="format" :value="format">{{ $t('v.workspaceExport.kind-' + format) }}</option>
		</select>
		<p>{{ $t('v.workspaceExport.description-' + kind) }}</p>
	</div>
	<p v-else>{{ $t('v.workspaceExport.notfound') }}</p>
	<template v-slot:buttons>
		<action-button :f="run" icon="file-export" importance="high">{{ path[kind] ? $t('v.workspaceExport.download') : $t('v.workspaceExport.submit') }}</action-button>
	</template>
</modal>
