/*
	########## CSS-Class-Naming-Convention ##########
	(For non-overriding, non-marker, non-framework-bound classes)
	This a bit of a mixture of the BEM and EnduringCSS naming-conventions:
		.[micronamespace][-blockContextOrComponent][_descendantNode][--modifier]
	where micronamespace is a flat-case abbreviation of up to 3 chars to communicate context and make it easier to
	avoid collisions. "blockContextOrComponent" describes the "visually self-contained block" we want to style
	(e.g. an item in a list). "modifier" is used to communicate state or variants of an element.

	Example:
		.faq-toc_container--hide

	List of micro-namespaces:
		* app - things that (currently) do not have a more specific defining context
		* faq - things in the broader context of the faq-page
		* av - application view
 */

:root {
	/* colorscheme */
	/* Informations- und Recherchedienste */
	--green-base: #a0b01e;
	--green-highlight: #c4d904;
	--green-text: #a1b01f;

	/* Studienplanung und -analyse */
	--magenta-base: #8d2c82;
	--magenta-highlight: #a63396;
	--magenta-dark-base: #831776;
	--magenta-dark-highlight: #9c1c8d;
	--magenta-text: #af33a1;

	/* Archivierung und Veröffentlichung */
	--cyan-base: #0097c6;
	--cyan-highlight: #33bee8;
	--cyan-dark-base: #2ea8ce;
	--cyan-dark-highlight: #00ace0;
	--cyan-text: #0093be;

	/* Forschung */
	--blue-base: #1a1146;
	--blue-text: #2b2171;

	/* unknown */
	--gray-base: #e6ecf0;
	--gray-light: #f2f5f7;

	--font-base: 'Montserrat', sans-serif;
	--font-header: 'Zilla Slab', serif;
	/* product name font, should be museo slab, which is non-free and not
	 * available on google fonts */
	--font-product: 'Zilla Slab', serif;
}

/* set font for pure.css grids, see
 * https://purecss.io/grids/#using-grids-with-custom-fonts */
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
	font-family: var(--font-base);
}

/* allow adding padding to grid boxes directly, keeping markup clean. See
 * https://purecss.io/grids/#applying-padding-and-borders-to-grid-units */
.pure-g > div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	/* use the same color as the last footer stripe, so a short site does not
	 * have a strange white space at the bottom */
	background-color: var(--gray-base);
	color: var(--blue-text);
	font-family: var(--font-base);
}

a {
	cursor: pointer;
	text-decoration: none;
	color: var(--magenta-text);
}

a:hover {
	color: var(--magenta-text);
}

input[type="text"], input[type="search"], textarea {
	/* better use flexboxes */
	/*width: 100%;*/
	border: 0.1em solid #352071;
	padding: 0.2em;
}

input[type="radio"] {
	margin-right: 0.3em;
}

h1, h2, h3, h4, h5, h6, .abstract {
	font-weight: normal;
	font-family: var(--font-header);
	margin-top: 1em;
}

h1 {
	font-size: 3.53em;
	line-height: 1.1em;
}

h2, .main p.abstract {
	font-size: 2.2em;
	line-height: 1.2em;
}

h3 {
	font-size: 1.7em;
	margin-bottom: 0.6em;
	line-height: 1.3em;
	font-weight: 500;
}

h4 {
	font-size: 1.2em;
	line-height: 1.3em;
	font-weight: 500;
}

address {
	font-style: normal;
}

p,
ul {
	line-height: 1.7em;
}

footer p,
footer ul  {
	font-size: 0.9em;
	line-height: 1.6em;
}

ul, 
li {
	margin: 0;
	padding: 0;
}

[type='checkbox'] {
	margin-right: 0.3em;
}

.wrapped {
	margin: 0 auto;
	max-width: 80%;
}

header {
	background: #240d46;
	background: linear-gradient(to right, #240d46 0%, var(--blue-text) 100%);
}

header .product-logo {
	background-image: url(https://www.lifp.de/assets/images/zpid/PreReg_bg.png);
	background-position: right;
	background-repeat: no-repeat;
	background-size: auto 100%;
	padding: 0.6em 1em;
	font-size: 3em;
	color: #FFFFFF;
}

html.magenta header .product-logo {
	background-color: var(--magenta-base);
}

header .product-logo a {
	color: inherit;
}

header .product-logo img {
	height: 1.1em;
	max-width: 100%;
}

#topline {
	background-color: #FFFFFF;
}

#topline a {
	color: var(--blue-text);
}

#topline a.active {
	color: var(--magenta-text);
	font-weight: bold;
	text-decoration: none;
}

#topline .pure-g {
	align-items: center;
	padding: 1em;
}

/* formatting for two-part product name */
.product-name {
	font-family: var(--font-product);
}

.app-mainNav {
	background-color: #FFFFFF;
	padding: 0.7em 2em 0.7em 0;
}

.app-mainNav_items {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.app-mainNav_item {
	display: inline-block;
	margin-left: 1.5em;
}

.app-mainNav_item .router-link-active {
	color: var(--magenta-text);
}

.app-mainNav_item a {
	font-size: 1.25em;
	color: #352071;
	font-family: var(--font-header);
	font-weight: 500;
}

.app-mainNav_item a.active {
	color: var(--magenta-text);
}

.main {
	padding-top: 3em;
	padding-bottom: 3em;
	background-color: white;
}

.main p {
	margin-bottom: 1.6em;
}

main {
	padding: 0 2em;
}

main ul {
	margin-left: 2em;
	margin-bottom: 2em;
}

main ul li {
	margin-bottom: 0.6em;
}

/* leibniz-psychology.org logo */
.lp-logo {
	height: 3.3em;
}

/* overrides for purecss */
table.pure-table {
	box-shadow: 0 0 0.3em rgba(0,0,0,0.2);
	border: 0;
}

.pure-table thead {
	background-color: var(--gray-light);
	color: inherit;
}

.pure-table-striped tr:nth-child(2n-1) td {
	background-color: transparent;
}

.pure-table-striped tr:nth-child(2n) td {
	background-color: var(--gray-light);
}

/* Make sure small buttons blend in with background */
.pure-table-striped .btn.small {
	background-color: transparent;
}

.pure-table-horizontal td, .pure-table-horizontal th, .pure-table {
	border-color: var(--gray-base);
	border: 0;
}

/* notebook-specific styling */
.overlay {
	z-index: 100;
}

[contenteditable=true] {
	border: 0.1em solid var(--blue-text);
}

[contenteditable=false] {
	border: 0.1em solid transparent;
}

.btn {
	display: inline-block;
	padding: 0.5em 2em;
	background-color: #FFFFFF;
	color: inherit;
	border: 0.1em solid transparent;
	cursor: pointer;
	white-space: nowrap;
	text-align: left;
}


/* same as links */
.btn:hover {
	color: var(--magenta-text);
	transition-duration: 0.4s;
}

.btn:disabled:hover {
	color: inherit;
}

.btn:disabled, .btn.high:disabled {
	background-color: var(--gray-base);
	cursor: not-allowed;
}

.btn.high {
	background-color: #352071;
	color: #FFFFFF !important;
}

.btn.high:hover {
	background-color: #443787;
}
.btn.high:disabled:hover {
	background-color: var(--gray-base);
}

.btn.small {
	padding: 0.5em !important;
}

.btn.medium {
	border: 0.1em solid #352071;
}

.btn.low {
}

span.placeholder {
	opacity: 0.5;
}

.fullscreen {
	overflow: hidden;
}

/* Hide elements until ready, see https://vuejs.org/v2/api/#v-cloak */
[v-cloak] {
	display: none;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter-from, .fade-leave-to {
  opacity: 0;
}
.fade-enter-to, .fade-leave-from {
  opacity: 1;
}

.resize-enter-active, .resize-leave-active {
  transition: all 0.5s;
}
.resize-enter-from, .resize-leave-to {
	max-height: 0;
	padding: 0;
}
.resize-enter-to, .resize-leave-from {
	max-height: 20em;
}

details > summary {
	display: block;
	/* Remove outline when focused, Google Chrome */
	outline: none;
	cursor: pointer;
}
/* remove triangle for chrome */
details > summary::-webkit-details-marker {
  display: none;
}

details.dropdown {
	position: relative;
}

details.dropdown div.body {
	box-shadow: 0 0 0.3em rgba(0,0,0,0.2);
	border: 0.1em solid #352071;
	text-align: left !important;
	background-color: white;
	padding: 0.6em;
	position: absolute;
	z-index: 1000;
}

/* If it’s a list dropdown, make sure we remove the bullets, but keep the elements as blocks */
details.dropdown div.body > ul {
	list-style-type: none;
}

details.dropdown div.body > ul li {
	display: block;
}

dl dt {
	font-weight: bold;
}

dl dd {
	margin: 0.3em 0em 0.6em 0em;
}

.horizontal-ruler {
	width: 100%;
	margin-top: 0.7em;
	margin-bottom: 0.7em;
	border: 0;
	border-top: .1em solid var(--blue-text);
}

.inline-icon {
	margin-right: 0.3em;
}

.danger {
	color: red;
}