.spinner {
    animation: spin 2.5s infinite linear;
    height: 1.2em;
    vertical-align: middle;
}

.spinner.big {
    height: 7em;
    margin: 1em;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}