<footer>
  <div class="footer-stripe-open" @click="open=!open">
	  <p>{{ $t('c.footer.offerby') }}
		<img src="https://www.lifp.de/assets/images/leibniz_psychology.svg"
			     alt="Logo Leibniz Psychology">
		{{ $t('c.footer.learnmore') }}</p>
		<p class="arrow-open" v-if="!open">⌄</p>
		<p class="arrow-close" v-else>⌃</p>
  </div>
	<transition name="resize" @after-enter="afterOpen">
  <div class="footer-stripe-contact" v-show="open">
    <div class="wrapped pure-g">
      <div class="pure-u-lg-1-2 pure-u-1">
        <div class="pure-g">
          <div class="pure-u-md-2-3 pure-u-1">
            <h3>
              {{ $t('c.footer.questions') }}
            </h3>
            <p>
              {{ $t('c.footer.questionsBody') }}
            </p>
          </div>
          <div class="pure-u-md-1-3 pure-u-1">
            <div class="ft-contactButton">
              <a :href="$t('g.supportMailMailto')"
                   class="btn high">{{ $t('c.footer.contact') }}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="pure-u-lg-1-2 pure-u-1">
        <div class="pure-g">
          <div class="pure-u-md-2-3 pure-u-1">
            <h3>
				{{ $t('c.footer.followus') }}
            </h3>
            <p>
				{{ $t('c.footer.followusBody') }}
            </p>
          </div>
          <div class="pure-u-1-3">
            <ul class="social-line">
              <li>
                <a href="https://twitter.com/ZPID"><img src=
                "https://www.lifp.de/assets/images/twitter.svg"
                     alt="Twitter"></a>
              </li>
              <li class="facebook">
                <a href=
                "https://www.facebook.com/ZPID.LeibnizZentrum/"><img src=
                "https://www.lifp.de/assets/images/facebook.svg"
                     alt="facebook"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</transition>
	<transition name="resize">
  <div class="footer-stripe-navi" v-show="open">
    <div class="wrapped pure-g">
      <div class="pure-u-lg-1-4 pure-u-md-1-2 pure-u-1" v-for="col in sitemap">
        <h3>
          {{ col.name }}
        </h3>
        <ul>
          <li v-for="link in col.links">
            <a :href="link[1]">{{ link[0] }}</a>
          </li>
        </ul>
      </div>
      <div class="pure-u-lg-1-4 pure-u-md-1-2 pure-u-1">
        <h3>
          leibniz-psychology.org
        </h3>
        <address>
          <p>
			Leibniz-Institut für Psychologie (ZPID)<br>
            Universitätsring 15<br>
            54296 Trier
          </p>
          <p>
            T. +49 (0)651 201-2877<br>
            F. +49 (0)651 201-2071<br>
            M. <a :href="$t('g.supportMailMailto')"
               title="E-Mail senden">{{ $t('g.supportMail') }}</a>
          </p>
        </address>
      </div>
    </div>
  </div>
</transition>
  <div class="footer-stripe-imprint">
    <div class="wrapped pure-g">
      <div class="pure-u-sm-1-5 pure-u-1">
        <ul class="logos">
          <li>
            <img :src="$t('c.footer.leibnizLogo')" style="height: 5em" alt="Leibniz-Gemeinschaft">
          </li>
        </ul>
      </div>
      <div class="pure-u-sm-4-5 pure-u-1">
        <ul class="links">
		  <li><router-link :to="{name: 'opensource'}">{{ $t('c.footer.software') }}</router-link></li>
		  <li><router-link :to="{name: 'terms'}">{{ $t('c.footer.termsofservice') }}</router-link> </li>
          <li><router-link :to="{name: 'privacy'}">{{ $t('c.footer.imprint') }}</router-link></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
