/*Using tl as micro-namespace as "topline" is more of a meaningful context than the thing itself.*/
.tl-language-switcher {
    text-align: right;
    margin: 0;
    padding: 0;
    list-style: none;
}

.tl-language-switcher-item {
    display: inline-block;
    margin-left: 0.3em;
    text-transform: uppercase;
}