.app-applicationItem {
    margin-bottom: 0.5em;
}

.app-applicationItem_icon {
    display: flex;
}

.app-applicationItem_information {
    display: flex;
    align-items: center;
}

.app-applicationItem_description {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.app-applicationItem_actions {
    text-align: right;
}
