<div class="pure-g app-applicationItem">
	<div class="pure-u-md-4-5 pure-u-1 app-applicationItem_information">
		<div class="app-applicationItem_icon">
			<application-icon :workspace="workspace" :application="application" height="2.5em"></application-icon>
		</div>
		<div class="app-applicationItem_description">
			{{ name }}. {{ description }}
		</div>
	</div>
	<div class="pure-u-md-1-5 pure-u-1 app-applicationItem_actions">
	<router-link :to="{name: 'application', params: {wsid: workspace.metadata._id, appid: application._id}}" class="btn medium">
		<i :class="cls"></i> {{ $t('c.applicationItem.run') }}
	</router-link>
</div></div>
