<aside class="av-overlay">
   <header class="av-header">
		<nav class="pure-g">
		   <div class="pure-u-1-5 av-header_back">
				   <router-link :to="{name: 'workspaces'}">{{ $t('v.application.projects') }}</router-link>
		   </div>
		   <div class="pure-u-3-5 av-header_title">
				<ul>
					<li v-if="program && program.error !== null"><action-button :f="reset" icon="redo">{{ $t('v.application.reset') }}</action-button></li>
					<!--<li v-if="program && program.state != ConductorState.exited"><action-button :f="terminate" icon="stop">{{ $t('v.application.stop') }}</action-button></li>-->
					<li v-if="workspace"><router-link :to="{name: 'workspace', params: {wsid: workspace.metadata._id}}"><application-icon :workspace="workspace" :application="application"></application-icon> {{ workspace.metadata.name }}</router-link></li>
					<li><dropdown class="av-header_history">
						<template v-slot:button>
							<action-button :f="createManualVersion" icon="history" importance="low">{{ $t('v.application.createVersion') }}</action-button>
							<i class="fas fa-caret-down"></i>
						</template>
						<template v-slot:default>
							<workspace-version :wsid="wsid"></workspace-version>
						</template>
					</dropdown></li>
				</ul>
		   </div>
		   <div class="pure-u-1-5 av-header_logo">
				   <router-link :to="{name: 'index'}"><img src="https://www.lifp.de/assets/images/psychnotebook.svg" style="height: 1.5em; filter: invert(100%) opacity(50%);"></router-link>
		   </div>
		</nav>
		<message v-if="needRestart" kind="warning">{{ $t('v.application.needrestart') }}</message>
	</header>
	<p v-if="!workspace">{{ $t('v.application.nonexistentws') }}</p>
	<p v-else-if="!application">{{ $t('v.application.nonexistent') }}</p>
	<iframe v-else-if="url" frameborder="0" name="appframe" :src="url"></iframe>
	<div v-else-if="program" class="av-overlay_loading">
		<details>
			<summary>
			<span v-if="program.process?.exitStatus == 4">{{ $t('v.application.busy') }}</span>
			<span v-else-if="program.error !== null">{{ $t('v.application.failed', {reason: program.error}) }}.</span>
			<span v-else-if="program.state == ConductorState.starting">{{ $t('v.application.starting') }}<br><spinner :big="true"></spinner></span>
			<span v-else-if="program.state == ConductorState.exited">{{ $t('v.application.exited') }}</span>
			</summary>
			<pre class="log" v-if="program && program.output">{{ program.output }}</pre>
		</details>
	</div>
</aside>
