<!DOCTYPE html>
<html lang="de" class="magenta">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>PsychNotebook</title>
	<script type="module" src="/assets/app.js"></script>
	<link rel="stylesheet" href="https://www.lifp.de/assets/fonts/montserrat/v14/montserrat.css" integrity="sha384-huIeh0g8CSRBF0g1U054I7XB6WHivNbm71z2CX2YwdHieViUaaXJa6sYG64qaLrj" crossorigin="anonymous">
	<link rel="stylesheet" href="https://www.lifp.de/assets/fonts/zillaslab/v5/zillaslab.css" integrity="sha384-7ef9jneSa7xv8ZK5QCf0jvN5ZNDb34dSJDeibxgGOwAbwbIPdcCABsJvysw145U9" crossorigin="anonymous">
	<link rel="stylesheet" href="https://www.lifp.de/assets/scripts/pure/2.0.3/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
	<link rel="stylesheet" href="https://www.lifp.de/assets/scripts/pure/2.0.3/grids-responsive-min.css" integrity="sha384-+lKLtMyKzY/ZdqRXlhw2whazop7duDxgP+oWPB+EGry5wK+vJnZwSsgMnAmDS/39" crossorigin="anonymous">
	<link rel="stylesheet" href="https://www.lifp.de/assets/scripts/font-awesome/5.13.0/css/all.min.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <link href="/assets/app.css" rel="stylesheet">
	<!-- favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="https://www.lifp.de/assets/images/favicon/public/apple-touch-icon.png?v=KmzOLrkgP7">
	<link rel="icon" type="image/png" sizes="32x32" href="https://www.lifp.de/assets/images/favicon/public/favicon-32x32.png?v=KmzOLrkgP7">
	<link rel="icon" type="image/png" sizes="192x192" href="https://www.lifp.de/assets/images/favicon/public/android-chrome-192x192.png?v=KmzOLrkgP7">
	<link rel="icon" type="image/png" sizes="16x16" href="https://www.lifp.de/assets/images/favicon/public/favicon-16x16.png?v=KmzOLrkgP7">
	<link rel="manifest" href="https://www.lifp.de/assets/images/favicon/public/site.webmanifest?v=KmzOLrkgP7">
	<link rel="mask-icon" href="https://www.lifp.de/assets/images/favicon/public/safari-pinned-tab.svg?v=KmzOLrkgP7" color="#362071">
	<meta name="msapplication-TileColor" content="#362071">
	<meta name="msapplication-TileImage" content="https://www.lifp.de/assets/images/favicon/public/mstile-144x144.png?v=KmzOLrkgP7">
	<meta name="theme-color" content="#362071">
	<!-- end favicon -->
  </head>
  <body>
	<div id="app" v-cloak>
	<router-view v-if="!loading" name="overlay" class="overlay"  v-slot="{ Component }">
		<transition name="fade">
			<component :is="Component" />
		</transition>
	</router-view>
    <div id="topline">
      <div class="wrapped pure-g">
        <div class="pure-u-1-2">
          <a href="https://leibniz-psychology.org/"><img class="lp-logo"
               src="https://www.lifp.de/assets/images/leibniz_psychology.svg"
               alt="Leibniz Psychology"></a>
        </div>
        <div class="pure-u-1-2">
			<language-switcher :state="state" :languages="['de', 'en']"></language-switcher>
        </div>
      </div>
    </div>
    <header>
      <div class="wrapped">
        <div class="product-logo">
          <router-link :to="{name: 'index'}" class="product-name">
			<img src="https://www.lifp.de/assets/images/psychnotebook.svg">
			<!--<span class="one">Psych</span><span class= "two">Notebook</span>-->
			</router-link>
        </div>
        <nav id="main-nav">
          <ul class="app-main-nav-items">
            <li v-if="isLoggedIn">
              <router-link :to="{name: 'workspaces'}">{{ $t('app.projects') }}</router-link>
            </li>
			<li><router-link :to="{name: 'faq'}">{{ $t('app.help') }}</router-link></li>
            <login-item :session="state.session"></login-item>
          </ul>
        </nav>
      </div>
    </header>
    <div class="main" role="main">
      <!--<div class="breadcrumb">
        <div class="wrapped">
          <ul>
            <li>
              <a href="#">Funktion</a>
            </li>
            <li>
              <a href="#">Subnavipunkt</a>
            </li>
          </ul>
        </div>
      </div>-->
      <div>
        <div class="wrapped pure-g">
          <div class="pure-u-1">
            <main>
				<message v-if="isLockedOut" kind="warning"><span v-html="$t('app.locked', {mail: supportMail})"></span></message>
				<message v-if="motd" kind="info"><pre>{{ motd }}</pre></message>
				<p style="text-align: center" v-if="loading">{{ $t('app.loading') }}<br><spinner :big="true"></spinner></p>
				<router-view v-else></router-view>
            </main>
          </div>
        </div>
      </div>
    </div>
	<dynamic-footer></dynamic-footer>
	</div>
	<!-- Cookie-Consent / Matomo. It would be nice if we could move this code to matomo.js, but the imported code does not export any functions, i.e. we cannot call them. -->
	<script type="application/javascript"
			src="https://www.lifp.de/assets/scripts/zpid-consent-banner/web/zpid_consent.js"></script>
	<script type="application/javascript">
		initializeZPIDConsent().then((bannerSettings) => {
			bannerSettings.language = localStorage.language ? localStorage.language : "de";
			bannerSettings.paragraphs[1].links.policy.href = "/privacy";
			Object.assign(bannerSettings.container.style, {'font-size': '18px'});
		}).finally(() => {
			startZPIDConsent(false).then(() => {
				_paq.push(['enableLinkTracking']);
				(function () {
					var u = "https://mtm.leibniz-psychology.org/";
					_paq.push(['setTrackerUrl', u + 'zpid.php']);
					_paq.push(['setSiteId', '17']);
					var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
					g.async = true;
					g.src = u + 'zpid.js';
					s.parentNode.insertBefore(g, s);
				})();
			});
		});
	</script>
	<!-- Cookie-Consent / Matomo -->
  </body>
</html>
