<div class="modal">
	<div :class="frameClass">
		<div class="content">
			<div class="modal-headline">
				<div class="icon">
					<h2><i :class="'fas fa-' + icon"></i></h2>
				</div>
				<h2>{{ title }}</h2>
				<div class="close modal-close-button">
					<a class="close" @click="close"><i class="fa fa-window-close"></i></a>
				</div>
			</div>
			<div class="userContent">
				<slot></slot>
			</div>
			<div class="buttons">
				<slot name="buttons"></slot>
				<router-link :to="closeLink" v-if="closeName" class="btn low">{{ closeName }}</router-link>
			</div>
		</div>
	</div>
</div>
