.app-versions_table {
    width: 100%;
    border-spacing: 0;
}

.app-versions_thead {
    position: sticky;
    top: 0;
    background-color: white;
}

.app-versions_table td, .app-versions_table th {
    vertical-align: top;
    border-bottom: 0.07em solid var(--gray-base);
    padding: 0.3em;
}

/* shrink to minimum */
.app-versions_table .date, .app-versions_table .select {
    min-width: 1%;
    white-space: nowrap;
}