.ws-workspace_shared ul, .ws-workspace_owners ul {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
}

.ws-headline_title {
    text-overflow: ellipsis;
    overflow: hidden;
}

.ws-headline_title, .ws-workspace_description {
    display: flex;
}

.ws-headline_title > *, .ws-workspace_description > * {
    flex-grow: 1;
}

.ws-workspace_shared li, .ws-workspace_owners li {
    display: inline;
}

.ws-workspace_metadata {
    font-size: 0.9em;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ws-headline {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    align-items: center;
}

.ws-headline_title, .ws-headline_titleInput {
    display: flex;
    flex-grow: 1;
}

.ws-headline_title {
    margin: 0.6em 0em;
}

.ws-editModeButtons {
    margin-bottom: 2em;
    text-align: end;
}

.ws-editModeButtons_discardButton {
    padding: 0;
    margin-left: 2em;
}

.ws-primaryActions {
    margin-bottom: 2em;
}

.ws-secondaryActions {
    margin-bottom: 2em;
}

.btn.ws-actionButton {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0;
    padding-right: 1em;
}

.ws-applications {
    margin-bottom: 2em;
}

.ws-actionButton.ws-actionDelete {
    color: rgb(212 0 0);
}