.workspaceItem .shared ul, .workspaceItem .owners ul {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
}

.workspaceItem .title {
    text-overflow: ellipsis;
    overflow: hidden;
}

.workspaceItem .title, .workspaceItem .description {
    display: flex;
}

.workspaceItem .title > *, .workspaceItem .description > * {
    flex-grow: 1;
}

.workspaceItem .shared ul li, .workspaceItem .owners ul li {
    display: inline;
}

.workspaceItem .metadata {
    font-size: 0.9em;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ws-headline {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    align-items: center;
}

.ws-headline-title, .ws-headline-title-input {
    display: flex;
    flex-grow: 1;
}

.ws-headline-title {
    margin: 0.6em 0em;
}

.ws-editModeButtons {
    margin-bottom: 2em;
    text-align: end;
}

.ws-editModeButtons .ws-editModeButtons-discard {
    padding: 0;
    margin-left: 2em;
}

.ws-primary-actions {
    margin-bottom: 2em;
}

.ws-secondary-actions {
    margin-bottom: 2em;
}

.btn.ws-action-button-inline {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0;
    padding-right: 1em;
}

.ws-applications {
    margin-bottom: 2em;
}

.ws-action-button-inline.ws-action-delete {
    color: rgb(212 0 0);
}