<div>
	<div class="ws-workspace" v-if="workspace">
		<action-bar>
			<template #left>
				<router-link :to="{name: 'workspaces'}">{{ $t('v.workspaceShow.back') }}</router-link>
			</template>
		</action-bar>

		<div class="ws-headline">
			<h3 class="ws-headline_title">
				<input :aria-label="$t('v.workspaceShow.projectname')" type="text" v-if="editable" :placeholder="$t('v.workspaceShow.projectname')" :value="name" class="ws-headline_titleInput" ref="title">
				<span v-else-if="hasName" v-text="name"></span>
				<span v-else-if="canEditMeta" class="placeholder" @click="makeTitleEditable">{{ $t('v.workspaceShow.noTitle') }}</span>
			</h3>
		</div>

		<ul class="ws-workspace_metadata" v-if="!editable">
			<li class="ws-workspace_owners" v-if="owners.length > 0">
				<i class="fa fa-user"></i>
				{{ $t('v.workspaceShow.ownedby') }}
				<ul>
					<li v-for="o of owners">{{ o.nick }}</li>
				</ul>
			</li>
			<li v-if="workspace.isShared" class="ws-workspace_shared">
				<i class="fa fa-users"></i>
				{{ $t('v.workspaceShow.sharedwith') }}
				<ul>
					<li v-for="u of workspace.sharedUsers">{{ u.nick }}</li>
				</ul>
			</li>

			<li v-if="workspace.isPublic" class="public">
				<i class="fa fa-globe"></i>
				{{ $t('v.workspaceShow.publicproject') }}
			</li>
		</ul>

		<p class="ws-workspace_description">
			<textarea :aria-label="$t('v.workspaceShow.projectdescription')" v-if="editable" :placeholder="$t('v.workspaceShow.projectdescription')" v-text="description" ref="description"></textarea>
			<span v-else-if="hasDescription" v-text="description"></span>
			<span v-else-if="canEditMeta" class="placeholder" @click="makeDescriptionEditable">{{ $t('v.workspaceShow.noDescription') }}</span>
		</p>
		<div v-if="editable" class="ws-editModeButtons">
			<action-button  icon="save" :f="save" importance="high">{{ $t('v.workspaceShow.save') }}</action-button>
			<action-button  icon="window-close" :f="discard" importance="low" class="ws-editModeButtons_discardButton">{{ $t('v.workspaceShow.cancel') }}</action-button>
		</div>

		<div class="ws-primaryActions">
			<action-button v-if="!editable && canEditMeta" icon="edit" :f="makeTitleEditable" importance="medium">{{ $t('v.workspaceShow.edit') }}</action-button>
		</div>

		<div class="ws-secondaryActions">
			<router-link class="btn ws-actionButton" v-if="permissions.canRun ()" :to="{name: 'workspacePackages', params: {wsid: workspace.metadata._id}}"><i class="fas fa-box"></i> {{ $t('v.workspaceShow.editpackages') }}</router-link>
			<router-link class="btn ws-actionButton" :to="{name: 'fileManager', params: {wsidA: workspace.metadata._id}}"><i class="fas fa-file"></i> {{ $t('v.workspaceShow.files') }}</router-link>
			<router-link class="btn ws-actionButton" v-if="permissions.canShare ()" :to="{name: 'workspaceShare', params: {wsid: workspace.metadata._id}}"><i class="fas fa-share"></i> {{ $t('v.workspaceShow.share') }}</router-link>
			<router-link class="btn ws-actionButton" v-if="permissions.canShare ()" :to="{name: 'workspacePublish', params: {wsid: workspace.metadata._id}}"><i class="fas fa-globe"></i> {{ $t('v.workspaceShow.publish') }}</router-link>
			<router-link class="btn ws-actionButton" v-if="permissions.canRead ()" :to="{name: 'workspaceExport', params: {wsid: workspace.metadata._id}}"><i class="fas fa-file-export"></i> {{ $t('v.workspaceShow.export') }}</router-link>
			<action-button v-if="permissions.canRead()" icon="copy" :f="copy" ref="copybtn" class="copy ws-actionButton">{{ $t('v.workspaceShow.copy') }}</action-button>
		</div>

		<div class="ws-applications">
			<application-item
				v-for="a in workspace.runnableApplications()"
				:application="a"
				:workspace="workspace"
				:key="a._id"></application-item>
		</div>
		<router-link class="btn low ws-actionButton ws-actionDelete" :to="{name: 'workspaceDelete', params: {wsid: workspace.metadata._id}}"><i class="fas fa-trash"></i> {{ permissions.canDelete() ? $t('v.workspaceShow.delete') : $t('v.workspaceShow.hide') }}</router-link>
	</div>
	<p v-else>{{ $t('v.workspaceShow.nonexistent') }}</p>
</div>
