.landingpage h3 {
    margin-top: 0;
}

.landingpage .overview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    max-width: 60em;
    margin: 0 auto;
}

.landingpage .features, .landingpage .mission {
    padding: 0 2em;
}

.landingpage .left-photo,
.landingpage .right-photo {
    border-radius: 1em;
    background-size: cover;
    min-height: 15em;
}

.landingpage .left-photo {
    background-image: url(../../img/foto_links_oben.jpg);
    background-position: right;
}

.landingpage .right-photo {
    background-image: url(../../img/foto_rechts_unten.jpg);
    background-position: center;
}

.landingpage .goto {
    text-align: center;
    margin-top: 3em;
}
