<div class="lp-container">
	<h2>{{ $t('v.index.description') }}</h2>
	<div class="lp-overview">
		<div class="lp-overview_leftPhoto">
		</div>
		<div class="lp-overview_mission" v-html="$t('v.index.mission')">
		</div>
		<div class="lp-overview_features" v-html="$t('v.index.features')">
		</div>
		<div class="lp-overview_rightPhoto">
		</div>
	</div>
	<p class="lp-container_goto">
		<a v-if="state.user === null" class="btn high" href="/api/session/login">{{ $t('v.index.login') }}</a>
		<router-link v-else class="btn high" :to="{name: 'workspaces'}">{{ $t('v.index.toprojects') }}</router-link>
	</p>
</div>
