<div class="landingpage">
	<h2>{{ $t('v.index.description') }}</h2>
	<div class="overview">
		<div class="left-photo">
		</div>
		<div class="mission" v-html="$t('v.index.mission')">
		</div>
		<div class="features" v-html="$t('v.index.features')">
		</div>
		<div class="right-photo">
		</div>
	</div>
	<p class="goto">
		<a v-if="state.user === null" class="btn high" href="/api/session/login">{{ $t('v.index.login') }}</a>
		<router-link v-else class="btn high" :to="{name: 'workspaces'}">{{ $t('v.index.toprojects') }}</router-link>
	</p>
</div>
